$red:#d61c22;
$lightred:#ec1d25;;
$grayblack:#333333;
$lightblack:#222222; 
$darkblack:#111111; 
$mont:'Montserrat',sans-serif;
$cour:'Courgette',sans-serif;
$pop:'Poppins',sans-serif;



// breakpoints
$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;