.title {
    @include font(50px, 700, $pop, $lightblack);
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.redtitle {
    font-family: $cour;
    font-size: 30px;
    line-height: 1.2;
    color: $red;
}

.p {
    @include font(15px, 400, $mont, #666666);
    line-height: 1.7;
    margin: 0px;
}

.link{
@include font(12px,400,$mont,$lightblack);
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
        color: $red;
    }
}


.box-title{

    @include font(22px,500,$pop,$grayblack);
    text-transform: uppercase;
    letter-spacing: 3px;
   
   
}


.event-watch-red{
   font-family: $mont;
    font-weight: 700;
    font-size: 50px;
    color: $lightred;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.event-watch-gray{
    font-family: $mont;
    font-weight: 700;
    font-size: 12px;
    color: #999999;
    text-transform: uppercase;
    letter-spacing: 1px;
}