@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
  box-shadow: 0 0 0px 2px #ec1d25 !important;
}

.container {
  max-width: 1200px;
  padding: 0 15px !important;
  margin: 0 auto;
  width: 100%;
}

.specials form .button, .specials form .first-slider .carousel-caption a, .first-slider .carousel-caption .specials form a, .specials form .reservation-section .content .form button .button, .reservation-section .content .form button .specials form .button, .specials form .reservation-section .content .form button .first-slider .carousel-caption a, .reservation-section .content .form button .first-slider .carousel-caption .specials form a, .specials form .first-slider .carousel-caption .reservation-section .content .form button a, .first-slider .carousel-caption .reservation-section .content .form button .specials form a, .reservation-section .content .form button .specials form .first-slider .carousel-caption a, .first-slider .carousel-caption .specials form .reservation-section .content .form button a, .specials, .our-video-section .video-btn .btn, .our-video-section .video-btn, .events-section .carousel .event-card .event-span, .events-section .carousel .event-card, .carousel .carousel-control-next,
.carousel .carousel-control-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title, .the-blog-section .title h2, .our-video-section .text h2, .our-menu-section .container .content h2, .discover-pato-section .text h2, .italian-section .row .content h2,
.reservation-section .row .content h2, .events-section .carousel .carousel-caption h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.redtitle, .the-blog-section .title h3, .the-blog-section .events-section .carousel .carousel-caption h2 h3, .events-section .carousel .carousel-caption .the-blog-section h2 h3, .the-blog-section .italian-section .row .content h2 h3, .italian-section .row .content .the-blog-section h2 h3,
.the-blog-section .reservation-section .row .content h2 h3,
.reservation-section .row .content .the-blog-section h2 h3, .the-blog-section .discover-pato-section .text h2 h3, .discover-pato-section .text .the-blog-section h2 h3, .the-blog-section .our-menu-section .container .content h2 h3, .our-menu-section .container .content .the-blog-section h2 h3, .the-blog-section .our-video-section .text h2 h3, .our-video-section .text .the-blog-section h2 h3, .our-video-section .text h5, .our-menu-section .container .content h5, .discover-pato-section .text h5, .italian-section .row .content h5,
.reservation-section .row .content h5, .events-section .carousel .carousel-caption h5 {
  font-family: "Courgette", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
  letter-spacing: normal;
}

.p, .discover-boxes-section .boxes .discover-box p,
.the-blog-section .boxes .discover-box p, .italian-section .row .content p,
.reservation-section .row .content p, .events-section .carousel .event-card p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  line-height: 1.7;
  margin: 0px;
}

.link, .discover-boxes-section .boxes .discover-box a,
.the-blog-section .boxes .discover-box a, .italian-section .row .content a,
.reservation-section .row .content a, .events-section .carousel .event-card a {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.link:hover, .discover-boxes-section .boxes .discover-box a:hover,
.the-blog-section .boxes .discover-box a:hover, .italian-section .row .content a:hover,
.reservation-section .row .content a:hover, .events-section .carousel .event-card a:hover {
  color: #d61c22;
}

.box-title, .specials form label, .discover-boxes-section .boxes .discover-box h4,
.the-blog-section .boxes .discover-box h4, .events-section .carousel .event-card h4, footer h4 {
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.event-watch-red, .events-section .carousel .event-card .watch span:first-of-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #ec1d25;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.event-watch-gray, .events-section .carousel .event-card .watch span:last-of-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button, .specials form .button, .reservation-section .content .form button .button, .reservation-section .content .form button .first-slider .carousel-caption a, .first-slider .carousel-caption .reservation-section .content .form button a, .first-slider .carousel-caption a {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #d61c22;
  width: 135px;
  height: 40px;
  padding: 12px 30px;
  border-radius: 10px;
  background: white;
  line-height: 1.1;
  text-transform: uppercase;
}
.button:hover, .specials form .button:hover, .reservation-section .content .form button .button:hover, .reservation-section .content .form button .first-slider .carousel-caption a:hover, .first-slider .carousel-caption .reservation-section .content .form button a:hover, .first-slider .carousel-caption a:hover {
  background-color: #d61c22;
  color: #fff;
}

.button2, .our-menu-section .container .card a {
  font-size: 22px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #333333;
  width: auto;
  height: 60px;
  padding: 14px 25px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: white;
  text-align: center;
  opacity: 0.9;
  transition: 0.4s;
}
.button2:hover, .our-menu-section .container .card a:hover {
  background-color: #d61c22;
  color: white;
}

header nav {
  width: 100%;
  height: 120px;
  padding: 0;
  border-radius: 0;
  position: fixed;
  align-items: center;
  display: grid;
  z-index: 999;
  transition: all 0.4s;
  border-top: 5px solid #d61c22;
}
@media screen and (max-width: 1200px) {
  header nav .logo {
    height: 45px;
  }
}
header nav .logo img {
  height: 100%;
}
header nav .nav-links ul {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: none;
}
header nav .nav-links ul li {
  align-items: center;
  padding: 0 10px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  header nav .nav-links ul li {
    padding: 4px;
  }
}
header nav .nav-links ul li a {
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  transition: 0.4s;
}
header nav .nav-links ul li a:hover {
  color: #d61c22;
}
header nav .nav-links ul li a i {
  color: white;
}
header nav .icons a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
}
header nav .icons a .fa-bars {
  font-size: 25px;
}
header nav .icons a i {
  padding: 10px;
}

footer {
  background-color: #222222;
  padding: 40px 0 0 0;
}
footer h4 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 33px;
}
footer .container {
  padding-bottom: 70px;
}
footer .container .latest-twitter {
  margin-bottom: 25px;
}
footer .container .col-lg-4 {
  padding: 50px 15px;
}
@media screen and (max-width: 992px) {
  footer .container .col-lg-4 {
    padding: 20px 0;
  }
}
footer .container .col-lg-4 .contact li {
  margin-bottom: 14px;
}
footer .container .col-lg-4 div li,
footer .container .col-lg-4 div p,
footer .container .col-lg-4 div span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
}
footer .container .col-lg-4 div a {
  color: #ec1d25;
}
footer .container .col-lg-4 div span {
  color: #555555;
}
footer .container .col-lg-4 div ul {
  list-style: none;
  padding: 0;
  margin-bottom: 70px;
}
@media screen and (max-width: 992px) {
  footer .container .col-lg-4 div ul {
    margin-bottom: 40px;
  }
}
footer .container .col-lg-4 div i {
  display: inline-block;
  color: #cccccc;
}
footer .gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: 100%;
}
footer .gallery a {
  display: flex;
}
footer .gallery a img {
  width: 100%;
  object-fit: cover;
}
footer .footer-end {
  background-color: #111111 !important;
  padding: 22px 0;
}
footer .footer-end .container {
  align-items: center;
}
footer .footer-end .container .social a {
  color: #fff;
  font-size: 15px;
  padding-left: 18px;
}
footer .footer-end .container .get-theme {
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  color: #999999;
  font-family: "Montserrat", sans-serif;
}
footer .footer-end .container .get-theme p {
  align-items: center;
  margin-bottom: 0;
  margin-right: 10px;
}
footer .footer-end .container .get-theme a {
  color: #cccccc;
  transition: 0.3s;
}
footer .footer-end .container .get-theme a:hover {
  color: #ec1d25;
}

.first-slider {
  height: 100vh !important;
}
.first-slider .carousel-caption {
  align-content: center;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0;
  top: calc(50% - 120px);
}
.first-slider .carousel-caption h5 {
  font-family: "Courgette", sans-serif;
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .first-slider .carousel-caption h5 {
    font-size: 50px;
  }
}
.first-slider .carousel-caption h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 37px;
  font-size: 90px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .first-slider .carousel-caption h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
}
.first-slider .carousel-caption a {
  width: 100%;
  transition: 0.4s;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  opacity: 0;
  top: 50%;
  z-index: 200;
  transition: 0.3s;
}
.carousel .carousel-control-next:hover,
.carousel .carousel-control-prev:hover {
  background-color: #d61c22;
}
.carousel .carousel-control-next .carousel-control-next-icon,
.carousel .carousel-control-next .carousel-control-prev-icon,
.carousel .carousel-control-prev .carousel-control-next-icon,
.carousel .carousel-control-prev .carousel-control-prev-icon {
  width: 14px;
  height: 14px;
}
.carousel .carousel-control-prev {
  left: 50px;
}
@media screen and (max-width: 576px) {
  .carousel .carousel-control-prev {
    left: 15px;
  }
}
.carousel .carousel-control-next {
  right: 50px;
}
@media screen and (max-width: 576px) {
  .carousel .carousel-control-next {
    right: 15px;
  }
}
.carousel .carousel-inner {
  height: 100%;
}
.carousel .carousel-inner .carousel-item {
  height: 100%;
}
.carousel .carousel-inner .carousel-item img {
  height: 100%;
  object-fit: cover;
}
.carousel:hover .carousel-control-next, .carousel:hover .carousel-control-prev {
  opacity: 0.5;
}
.carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50px;
  margin-bottom: 30px;
  display: block;
  background-color: #958e88;
  border: 3px solid transparent;
  background-clip: padding-box;
  transition: 0.3s;
}
.carousel .carousel-indicators button:hover {
  border: 3px solid white;
  background-color: #d61c22;
}

.events-section {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 998;
}
.events-section .carousel {
  height: 900px;
}
@media screen and (max-width: 992px) {
  .events-section .carousel {
    height: 100vh;
  }
}
@media screen and (max-width: 576px) {
  .events-section .carousel {
    height: 90vh;
  }
}
.events-section .carousel .carousel-indicators {
  bottom: 50px;
}
.events-section .carousel .carousel-caption {
  text-align: center;
  left: 0;
  right: 0;
  height: 100%;
  align-content: center;
  top: 120px;
}
.events-section .carousel .carousel-caption h2 {
  color: #fff;
  margin-bottom: 52px;
}
.events-section .carousel .event-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  min-height: 390px;
  align-items: normal;
}
.events-section .carousel .event-card .event-span {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #cf2227;
  width: 100%;
  height: 50px;
  transform-origin: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-100% + 25px), -25px) rotate(90deg);
  display: flex;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 992px) {
  .events-section .carousel .event-card .event-span {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
@media screen and (max-width: 992px) {
  .events-section .carousel .event-card {
    width: 80%;
    margin: auto auto;
  }
}
@media screen and (max-width: 567px) {
  .events-section .carousel .event-card {
    width: 100%;
  }
}
.events-section .carousel .event-card > div:last-of-type {
  padding: 40px;
}
.events-section .carousel .event-card > div:first-of-type {
  position: relative;
}
.events-section .carousel .event-card img {
  width: 100%;
  object-fit: cover;
}
.events-section .carousel .event-card .watch {
  margin: 40px 0;
}
.italian-section,
.reservation-section {
  background-color: #EEEEEE;
  padding: 120px 0;
}
.italian-section .row,
.reservation-section .row {
  align-items: center;
  justify-content: space-between;
}
.italian-section .row .content,
.reservation-section .row .content {
  align-content: center;
  padding: 30px 0;
  display: grid;
  justify-content: center;
}
.italian-section .row .content p,
.reservation-section .row .content p {
  padding: 15px;
  max-width: 513px;
}
.italian-section .row .content a,
.reservation-section .row .content a {
  transition: 0.4s;
}
.italian-section .row .content a i,
.reservation-section .row .content a i {
  padding-left: 5px;
}
.italian-section .row .image-block,
.reservation-section .row .image-block {
  display: flex;
  justify-content: center;
}
.italian-section .row .image-block .image,
.reservation-section .row .image-block .image {
  max-width: 390px;
  overflow: hidden;
  border-radius: 10px;
}
.italian-section .row .image-block .image:hover img,
.reservation-section .row .image-block .image:hover img {
  transform: scale(1.1);
}
.italian-section .row .image-block .image img,
.reservation-section .row .image-block .image img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.discover-pato-section {
  background-image: url(../../../assets/images/patoplacebg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.discover-pato-section .text {
  text-align: center;
  padding: 158px 0 135px 0;
}
.discover-pato-section .text h2 {
  color: white;
}

.discover-boxes-section,
.the-blog-section {
  padding: 77px 0 133px 0;
}
.discover-boxes-section .boxes .discover-box,
.the-blog-section .boxes .discover-box {
  padding: 15px;
  display: block;
}
.discover-boxes-section .boxes .discover-box .img,
.the-blog-section .boxes .discover-box .img {
  width: 100%;
  margin-bottom: 35px;
  overflow: hidden;
  border-radius: 10px;
}
.discover-boxes-section .boxes .discover-box .img img,
.the-blog-section .boxes .discover-box .img img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.discover-boxes-section .boxes .discover-box .img img:hover,
.the-blog-section .boxes .discover-box .img img:hover {
  transform: scale(1.1);
}
.discover-boxes-section .boxes .discover-box h4,
.the-blog-section .boxes .discover-box h4 {
  cursor: pointer;
  transition: 0.3s;
}
.discover-boxes-section .boxes .discover-box h4:hover,
.the-blog-section .boxes .discover-box h4:hover {
  color: #d61c22;
}
.discover-boxes-section .boxes .discover-box p,
.the-blog-section .boxes .discover-box p {
  margin-bottom: 20px;
}
.discover-boxes-section .boxes .discover-box a,
.the-blog-section .boxes .discover-box a {
  transition: 0.4s;
}
.discover-boxes-section .boxes .discover-box a i,
.the-blog-section .boxes .discover-box a i {
  padding-left: 5px;
}

.our-menu-section {
  background-color: rgb(247, 243, 238);
  padding: 120px 0;
}
.our-menu-section .container .content {
  align-content: center;
  padding: 30px 0;
  display: grid;
  justify-content: center;
}
.our-menu-section .container .card {
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
  overflow: hidden;
  border: none;
}
.our-menu-section .container .card:hover img {
  transform: scale(1.1);
}
.our-menu-section .container .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.our-menu-section .container .card a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reservation-section .content {
  justify-content: normal !important;
}
.reservation-section .content .form {
  text-align: start;
}
.reservation-section .content .form .inputs {
  padding: 0 15px;
}
.reservation-section .content .form .inputs label,
.reservation-section .content .form .inputs select {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #555555;
}
.reservation-section .content .form .inputs div {
  border: 2px solid #d9d9d9;
  width: 100%;
  height: 50px;
  margin-bottom: 23px;
  margin-top: 3px;
  border-radius: 10px;
}
.reservation-section .content .form .inputs div input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
  border-radius: 10px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border: none;
}
.reservation-section .content .form .inputs div input:focus-visible {
  outline: none;
  box-shadow: 0 0 0px 2px #ec1d25 !important;
}
.reservation-section .content .form .inputs div select {
  border: 2px solid #d9d9d9;
  border-radius: 4px;
}
.reservation-section .content .form button {
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.reservation-section .content .form button .button, .reservation-section .content .form button .first-slider .carousel-caption a, .first-slider .carousel-caption .reservation-section .content .form button a {
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.our-video-section {
  background-image: url(../../../assets/images/ourvideobg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 2.81667px;
}
.our-video-section .text {
  text-align: center;
  padding: 225px 0 150px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.our-video-section .text h2 {
  color: white;
}
.our-video-section .video-btn {
  margin: 40px 0;
}
.our-video-section .video-btn .btn {
  border-radius: 50%;
  padding: 25px 28px;
  background-color: white;
  transition: 0.4s;
}
.our-video-section .video-btn .btn:hover {
  background-color: rgba(236, 29, 37, 0.5);
  transform: scale(1.2);
}

.the-blog-section {
  padding: 115px 0px 123px 0;
}
.the-blog-section .title h3, .the-blog-section .events-section .carousel .carousel-caption h2 h3, .events-section .carousel .carousel-caption .the-blog-section h2 h3, .the-blog-section .italian-section .row .content h2 h3, .italian-section .row .content .the-blog-section h2 h3,
.the-blog-section .reservation-section .row .content h2 h3,
.reservation-section .row .content .the-blog-section h2 h3, .the-blog-section .discover-pato-section .text h2 h3, .discover-pato-section .text .the-blog-section h2 h3, .the-blog-section .our-menu-section .container .content h2 h3, .our-menu-section .container .content .the-blog-section h2 h3, .the-blog-section .our-video-section .text h2 h3, .our-video-section .text .the-blog-section h2 h3 {
  text-transform: capitalize;
}
.the-blog-section .boxes {
  padding-top: 30px;
}
.the-blog-section .img {
  position: relative;
}
.the-blog-section .img .time-blog {
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: absolute;
  left: 14px;
  bottom: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 15px;
  border-radius: 4px;
}

.specials {
  padding: 85px 0;
  background-color: #EEEEEE;
}
.specials form {
  align-items: center;
}
.specials form label {
  margin: 10px 0;
}
.specials form .mail {
  width: 270px;
  height: 50px;
  padding: 0;
  border-radius: 10px;
  position: relative;
  margin: 10px 15px;
  background-color: white;
  position: relative;
  border: 2px solid #d9d9d9;
}
.specials form .mail i {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 18px;
}
.specials form .mail input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  padding-left: 20px;
  border: none;
}
.specials form .mail input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #ec1d25 !important;
}
.specials form .button, .specials form .first-slider .carousel-caption a, .first-slider .carousel-caption .specials form a, .specials form .reservation-section .content .form button .button, .reservation-section .content .form button .specials form .button, .specials form .reservation-section .content .form button .first-slider .carousel-caption a, .reservation-section .content .form button .first-slider .carousel-caption .specials form a, .specials form .first-slider .carousel-caption .reservation-section .content .form button a, .first-slider .carousel-caption .reservation-section .content .form button .specials form a, .reservation-section .content .form button .specials form .first-slider .carousel-caption a, .first-slider .carousel-caption .specials form .reservation-section .content .form button a {
  margin: 10px auto;
  background-color: #111111;
  color: #fff;
  display: flex;
  width: 160px !important;
  transition: 0.4s;
}/*# sourceMappingURL=main.css.map */